.userdetailsDiv {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 4%;
  h5 {
    margin: 0;
    color: var(--dark-gray);
    padding: 0% 0;
  }
  @media (max-width: 530px) {
    h5 {
      font-size: 17.5px;
    }
  }

  .fontBold {
    font-weight: bold;
  }
  .addTransactionButton {
    background-color: var(--turqoise);
    border: 0;
    height: 21%;
    font-size: 16px;
    border-color: none;
  }
  .addTransactionButton:hover {
    background-color: #1d8370;
  }
  .addTransactionButton:focus {
    box-shadow: none;
  }
  @media (max-width: 740px) {
    .expenseIncomeCardsDiv {
      width: 65% !important;
    }
  }
  @media (max-width: 530px) {
    .expenseIncomeCardsDiv {
      width: 100% !important;
    }
    .addTransactionButton {
      display: none;
    }
  }
}
