.userdetailsDiv {
  padding: 0 4%;
  h4 {
    margin: 0;
    color: var(--dark-gray);
    padding: 2% 0;
  }

  .fontBold {
    font-weight: bold;
  }
  .addTransactionButton {
    background-color: var(--turqoise);
    border: 0;
    height: 21%;
    font-size: 16px;
  }
}
