.fontBold {
  font-weight: bold;
}

.cardTitle {
  font-size: 16px;
}
.cardText {
  font-size: 14px;
}

.totalBalanceCard {
  width: 250px;
}
@media (max-width: 530px) {
  .totalBalanceCard {
    width: 200px;
  }
  .cardTitle {
    font-size: 14px;
  }
}
